@model IEnumerable<List<GameApplication.Models.ButtonModel>>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    Game @i:

                    @for (int j = 0; j < Model.ElementAt(i).Count(); j++)
                    {
                        <p>Button @Model.ElementAt(i).ElementAt(j).Id.ToString(): State @Model.ElementAt(i).ElementAt(j).ButtonState.ToString()</p>
                    }

                    @Html.ActionLink("Delete", "DeleteGame", new { i }) |
                    @Html.ActionLink("Load", "LoadGame", new { i })


                </td>
            </tr>
        }
    </tbody>
</table>
